// Add my colors here
// First theme
@miakared:          #FC354C;
@lunanera:           #29221F;
@miakablue:          #13747D;
@gameboyteal:        #0ABFBC;
@saumurwhite:        #FCF7C5;
@footerblack:        #292c2f;

// second theme
@aquaburst:          #00DFFC;
@liohu4:             #005F6B;
@deeperblue:         #008C9E;
@shedressedme:       #00DFFC;
@grey:               #343838;

// third theme. Let's try to stick with 3 colors
// light gray, aquaburst, white
@lightgray:          ##cccccc;

// Add fonts here
@displayFont:         'Roboto', sans-serif;
@textFont:            'Ubuntu Mono', monospace;

h1, h2, h3, h4, h5, h6, legend {
	font-family: @displayFont;
	//color: @purple;
}

p {
	font-family: @textFont;
	font-size: 1.1em;
	line-height: 1.4em;
	//color: @darkblue;
	padding: 0.2%;
}

p > a {
	font-family: @displayFont;
}

.btn-primary {
	background-color: @footerblack; 
	border-color: @footerblack;
}

.btn-primary:hover {
	background-color: @shedressedme;
	background-color: @shedressedme;
}

.btn-primary:active:focus {
	background-color: @shedressedme;
	background-color: @shedressedme;
}

.btn-group > button {
	background-color: @footerblack;
	color: white;
}

.btn-group:active:focus {
	background-color: @shedressedme;
}

body{
	//background: url(../../images/bg-5-full.jpg) gray;
	background-color: white;
}

.navbar {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0 0 0 0;
	margin-bottom: 0;
	background-color: @footerblack;
}

#bs-navbar-collapse-1 > ul > li > a {
	font-family: @displayFont;
}

.navbar-default {
	border: none;
}

#bs-navbar-collapse-1 > ul > li > a {
	color: white;
}

#bs-navbar-collapse-1 > ul > li.active > a {
	background-color: @shedressedme;
}

// Add pages here to add proper padding on header
#contact-page > section > div > nav{
	padding-left: 15px;
}


/////----------------------------------------------

#aboutdeveloper {
	background-color: @aquaburst;
	padding-left: 10px;
	padding-right: 10px;
}

#aboutdeveloper>div>img {
	height: 200px;
	margin: 15px;
	border-radius: 15px;
	float: left;
}

#aboutdeveloper>div {
	margin: auto;
	width: 90%;
}

#aboutdeveloper > div > p {
	overflow: auto;

	@media(max-width: 768px){
		overflow: inherit;
	}
}

#skills-progress {
	overflow: auto;
}


#aboutdeveloper>div>div>a{
	font-family: @displayFont;
}

#aboutdeveloper>div>div>p {
	padding-left: 50px;
}

#aboutdeveloper > div > h4 {
	@media(min-width: 1200px){
		padding-left: 25px;
	}
}

#aboutdeveloper>div>div.btn-group {
	padding-top: 20px;
	padding-bottom: 15px;

	@media(min-width: 1200px){
		padding-left: 25px;
	}
}

#aboutdeveloper > div > a {

}

#portfolio {
	background-color: white;
}

#portfolio>h2{
	padding-left: 15px;
}

#portfolio>div>.thumbnail{
	border-radius: 15px;
}

#filterOptions {
	padding: 15px;
}

#services {
	background-color: #999999;
	padding-left: 15px;
	padding-right: 15px;
}

#services>h2 {
	padding-left: 15px;
}

#services>a{
	margin: 15px;
}

#services>div>i{
	//padding-left: 15px;
}

.services-icons-div {
	padding-left: 35px;
	padding-top: 15px;
}

#services-button-div {
	position: relative;
	bottom: 15px;
	right: 15px;

	@media(min-width: 769px){
		bottom: -150px;
		right: 15px;
	}

	@media(min-width: 990px){
		top: -15px;
		bottom: 15px;
		right: 15px;
	}

	@media(min-width: 1200px){
		top: -15px;
		bottom: 15px;
		right: 15px;
	}
}


#services > div:nth-child(4){


	@media(min-width: 320px){
		float: inherit;
	}
		
	@media(min-width: 769px){
		float: inherit;
	}

	@media(min-width: 990px){
		float: right;
		
	}

	@media(min-width: 1200px){
		float: right;
	}
}

#process h2{
	padding-left: 15px;
}

#process {
	background-color: white;
}

#process > section.col.col-md-4.clearfix > ol >li {
	font-family: @textFont;
	font-size: 1.2em;
}

#process > section.col.col-md-8 > img {
	height: 500px;
	padding-top: 15px;
	padding-bottom: 25px
}

#process > div > div > img {
	height: 200px;
	width: 200px;
}

#process > div > div > div > h3 {
	padding-left: 80px;
}

#process>div>.thumbnail {
	//background-color: #ff9999;
	border: none;
}

#process-button-div {
	position: relative;
	bottom: 15px;
	right: 15px;
	@media(min-width: 768px){
		top: 390px;
		bottom: 15px;
		right: 15px;
	}

	@media(min-width: 990px){
		top: 340px;
		bottom: 15px;
		right: 15px;
	}

	@media(min-width: 1200px){
		top: 405px;
		bottom: 15px;
		right: 15px;
	}
}

#contact_form {
	margin-bottom: 0;
	border-radius: 0;
}

#widget-contact {
	background-color: #999999;
}

#widget-contact > div:nth-child(3) > div {
	padding-bottom: 15px;
}

// Side bar
body > section > section.sidebar.col.col-lg-4 {
	padding-top: 15px;
}

/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

#contact-page > section{
	padding-left: 0;
}



#success_message{ display: none;}
#error_message{ display: none;}

.help-block {
	color: red;
}

.col-lg-12{
	padding: 0;
}

.breadcrumb {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.modalphotos > img {
	height: 160px;
}

ul>li {
	font-family: @textFont;
}

#project p {
	padding-left: 15px;
	padding-right: 15px;
}

#portfolio > div > div > img {
	height: 300px;
}
