h1,
h2,
h3,
h4,
h5,
h6,
legend {
  font-family: 'Roboto', sans-serif;
}
p {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.1em;
  line-height: 1.4em;
  padding: 0.2%;
}
p > a {
  font-family: 'Roboto', sans-serif;
}
.btn-primary {
  background-color: #292c2f;
  border-color: #292c2f;
}
.btn-primary:hover {
  background-color: #00DFFC;
}
.btn-primary:active:focus {
  background-color: #00DFFC;
}
.btn-group > button {
  background-color: #292c2f;
  color: white;
}
.btn-group:active:focus {
  background-color: #00DFFC;
}
body {
  background-color: white;
}
.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0 0 0 0;
  margin-bottom: 0;
  background-color: #292c2f;
}
#bs-navbar-collapse-1 > ul > li > a {
  font-family: 'Roboto', sans-serif;
}
.navbar-default {
  border: none;
}
#bs-navbar-collapse-1 > ul > li > a {
  color: white;
}
#bs-navbar-collapse-1 > ul > li.active > a {
  background-color: #00DFFC;
}
#contact-page > section > div > nav {
  padding-left: 15px;
}
#aboutdeveloper {
  background-color: #00DFFC;
  padding-left: 10px;
  padding-right: 10px;
}
#aboutdeveloper > div > img {
  height: 200px;
  margin: 15px;
  border-radius: 15px;
  float: left;
}
#aboutdeveloper > div {
  margin: auto;
  width: 90%;
}
#aboutdeveloper > div > p {
  overflow: auto;
}
@media (max-width: 768px) {
  #aboutdeveloper > div > p {
    overflow: inherit;
  }
}
#skills-progress {
  overflow: auto;
}
#aboutdeveloper > div > div > a {
  font-family: 'Roboto', sans-serif;
}
#aboutdeveloper > div > div > p {
  padding-left: 50px;
}
@media (min-width: 1200px) {
  #aboutdeveloper > div > h4 {
    padding-left: 25px;
  }
}
#aboutdeveloper > div > div.btn-group {
  padding-top: 20px;
  padding-bottom: 15px;
}
@media (min-width: 1200px) {
  #aboutdeveloper > div > div.btn-group {
    padding-left: 25px;
  }
}
#portfolio {
  background-color: white;
}
#portfolio > h2 {
  padding-left: 15px;
}
#portfolio > div > .thumbnail {
  border-radius: 15px;
}
#filterOptions {
  padding: 15px;
}
#services {
  background-color: #999999;
  padding-left: 15px;
  padding-right: 15px;
}
#services > h2 {
  padding-left: 15px;
}
#services > a {
  margin: 15px;
}
.services-icons-div {
  padding-left: 35px;
  padding-top: 15px;
}
#services-button-div {
  position: relative;
  bottom: 15px;
  right: 15px;
}
@media (min-width: 769px) {
  #services-button-div {
    bottom: -150px;
    right: 15px;
  }
}
@media (min-width: 990px) {
  #services-button-div {
    top: -15px;
    bottom: 15px;
    right: 15px;
  }
}
@media (min-width: 1200px) {
  #services-button-div {
    top: -15px;
    bottom: 15px;
    right: 15px;
  }
}
@media (min-width: 320px) {
  #services > div:nth-child(4) {
    float: inherit;
  }
}
@media (min-width: 769px) {
  #services > div:nth-child(4) {
    float: inherit;
  }
}
@media (min-width: 990px) {
  #services > div:nth-child(4) {
    float: right;
  }
}
@media (min-width: 1200px) {
  #services > div:nth-child(4) {
    float: right;
  }
}
#process h2 {
  padding-left: 15px;
}
#process {
  background-color: white;
}
#process > section.col.col-md-4.clearfix > ol > li {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.2em;
}
#process > section.col.col-md-8 > img {
  height: 500px;
  padding-top: 15px;
  padding-bottom: 25px;
}
#process > div > div > img {
  height: 200px;
  width: 200px;
}
#process > div > div > div > h3 {
  padding-left: 80px;
}
#process > div > .thumbnail {
  border: none;
}
#process-button-div {
  position: relative;
  bottom: 15px;
  right: 15px;
}
@media (min-width: 768px) {
  #process-button-div {
    top: 390px;
    bottom: 15px;
    right: 15px;
  }
}
@media (min-width: 990px) {
  #process-button-div {
    top: 340px;
    bottom: 15px;
    right: 15px;
  }
}
@media (min-width: 1200px) {
  #process-button-div {
    top: 405px;
    bottom: 15px;
    right: 15px;
  }
}
#contact_form {
  margin-bottom: 0;
  border-radius: 0;
}
#widget-contact {
  background-color: #999999;
}
#widget-contact > div:nth-child(3) > div {
  padding-bottom: 15px;
}
body > section > section.sidebar.col.col-lg-4 {
  padding-top: 15px;
}
/* Change the white to any color ;) */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}
#contact-page > section {
  padding-left: 0;
}
#success_message {
  display: none;
}
#error_message {
  display: none;
}
.help-block {
  color: red;
}
.col-lg-12 {
  padding: 0;
}
.breadcrumb {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.modalphotos > img {
  height: 160px;
}
ul > li {
  font-family: 'Ubuntu Mono', monospace;
}
#project p {
  padding-left: 15px;
  padding-right: 15px;
}
#portfolio > div > div > img {
  height: 300px;
}
/*# sourceMappingURL=mystyles.css.map */